@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");
#bg-sun {
  width: 50vw;
  transition: ease all 2s;
}

.sun-ring {
  width: 50vw;
  transition: ease all 2s;
  top: 0;
}

.sun-piece {
  position: absolute;
  right: 10vw;
}

#sun-ring-one {
  animation: spin_one 60s linear infinite;
}

#sun-ring-two {
  animation: spin_two 45s linear infinite;
}

#sun-ring-three {
  animation: spin_three 30s linear infinite;
}

@keyframes spin_one {
  from {
    transform: rotate(0deg) translate(-5%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-5%) rotate(-360deg);
  }
}
@keyframes spin_two {
  from {
    transform: rotate(0deg) translate(5%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(5%) rotate(-360deg);
  }
}
@keyframes spin_three {
  from {
    transform: rotate(0deg) translate(-7%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-7%) rotate(-360deg);
  }
}
@media only screen and (max-width: 800px) {
  .sun-piece {
    position: absolute;
    right: 25vw;
  }
}
div > a {
  display: inline-block;
  /* You can also add some margins here to make it look prettier */
  zoom: 1;
  *display: inline;
  /* this fix is needed for IE7- */
}

div {
  margin-block-start: 0;
}

.nav-container {
  padding: 7vh 7vh 0 7vh;
  z-index: 999;
}

.nav-bar {
  font-size: calc(18px + (18 - 12) * ((100vw - 300px) / (3840 - 300)));
}

.nav-icon {
  width: 2vw;
  min-width: 40px;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
}

.nav-icon:hover {
  transform: scale(1.1);
}

.nav-container .nav-link {
  margin-left: 7vh;
}

.nav-link {
  font-family: "Work Sans";
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  user-select: none;
}

header .nav-link {
  font-size: calc(20px + (20 - 12) * ((100vw - 300px) / (3840 - 300)));
}

.selected-link {
  color: #D56E7F;
  font-weight: bold;
}

.nav-link:hover {
  color: #D56E7F;
  transition: 0.2s;
}

.nav-group {
  position: sticky;
  top: 7vh;
  align-self: center;
  z-index: 999;
}

#home-nav {
  display: none;
}

@media only screen and (min-width: 800px) {
  .nav-container {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #nav-close,
#nav-toggle {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .nav-group {
    display: none;
  }

  .nav-menu {
    position: absolute;
    display: none;
    left: -200px;
    top: 0;
    width: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    transition: left 0.1s ease;
    z-index: 999;
  }

  .nav-menu div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #151E7A;
    width: 80vw;
    height: 100%;
    border-radius: 0px 160px 160px 0;
  }

  .nav-menu a {
    display: block;
    padding: 5vw 0 0 5vw;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding-bottom: 0.25em;
    font-size: 13vw;
  }

  .nav-menu .nav-close {
    position: absolute;
    left: 0;
    top: 0;
  }

  .nav-menu:target,
.nav-menu[aria-expanded=true] {
    display: block;
    left: 0;
    outline: none;
    -moz-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
    transition: left 0.1s ease;
    height: 100%;
    background: rgba(0, 0, 51, 0.9);
  }

  .nav-menu:target .nav-close,
.nav-menu[aria-expanded=true] .nav-close {
    z-index: 1001;
  }

  .nav-menu:target div,
.nav-menu[aria-expanded=true] div {
    position: relative;
    z-index: 1000;
  }

  @supports (position: fixed) {
    .nav-menu,
.nav-menu:target + .backdrop,
.nav-menu[aria-expanded=true] + .backdrop {
      position: fixed;
    }
  }
  .nav-link-container {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  #home-nav {
    display: initial;
  }
}
.fog-container {
  filter: brightness(100%) contrast(1500%);
}

.fog-piece {
  position: absolute;
  filter: blur(20px);
}

.ball {
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  background: black;
}

#fog-piece-two {
  left: 15vw;
}

#fog-piece-three {
  left: 30vw;
}

#fog-piece-four {
  left: 45vw;
}

.work-container {
  display: inline-block;
  width: 100%;
  background-color: #000033;
}

.work-links {
  max-width: 100%;
  padding-left: 11vw;
  overflow-y: scroll;
  overscroll-behavior: none;
}

.work-link {
  font-family: "Work Sans";
  width: 22vw;
  font-weight: bolder;
  color: #e9dbc3;
  font-size: 13vw;
  user-select: none;
  text-decoration: none;
}

.work-link:hover {
  color: #D56E7F;
  transition: 0.2s;
}

#archive {
  color: #000033;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e9dbc3;
}

#archive:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #D56E7F;
  transition: 0.2s;
}

#about-splash,
#about-splash-mobile {
  position: absolute;
}

.about-text-container {
  position: absolute;
  z-index: 1;
}

.about-name {
  font-weight: bolder;
  color: #e9dbc3;
  margin-bottom: 0;
  font-size: calc(72px + (212 - 72) * ((100vw - 300px) / (3840 - 300)));
}

.about-description {
  color: #e9dbc3;
  margin-top: 1vw;
  font-size: calc(12px + (36 - 12) * ((100vw - 300px) / (3840 - 300)));
}

@media only screen and (min-width: 1081px) {
  #about-splash {
    bottom: 0;
    left: 0;
    width: 62vw;
  }

  #about-splash-mobile {
    display: none;
  }

  .about-text-container {
    left: 58vw;
    top: 12vh;
    width: 26vw;
  }
}
@media only screen and (max-width: 1080px) {
  #about-splash-mobile {
    width: 80vw;
    right: 0;
    top: 0;
  }

  #about-splash {
    display: none;
  }

  .about-text-container {
    left: 7vh;
    bottom: 7vh;
    width: 40vw;
  }
}
.project-information-container {
  padding-left: 10vw;
}

.project-title {
  font-weight: bolder;
  color: #e9dbc3;
  font-size: calc(72px + (136 - 72) * ((100vw - 300px) / (3840 - 300)));
}

.description-container {
  width: 44vw;
}

.project-information {
  color: #e9dbc3;
  margin-top: 2vh;
  font-size: calc(14px + (14 - 10) * ((100vw - 300px) / (3840 - 300)));
}

.project-date {
  font-weight: bold;
}

.work-container {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 10vw 10vw 0 10vw;
}

.work-hero {
  flex-grow: 2;
  flex-basis: 100%;
}

.work-image {
  width: 100%;
}

.rounded-image {
  border-radius: 20px;
  overflow: hidden;
}

.work-subimage {
  flex-grow: 1;
  flex-basis: 50%;
  margin-top: 5vw;
}

.work-footer {
  flex-shrink: 0;
  margin-top: 10vw;
  width: 100%;
}

.work-footer-wave {
  width: 100%;
  z-index: -1;
}

.project-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  padding: 0 10vw 0 10vw;
}

.project-link {
  text-decoration: none;
  user-select: none;
  font-weight: 200;
  color: #e9dbc3;
  font-size: calc(18px + (18 - 12) * ((100vw - 300px) / (3840 - 300)));
  transition: 0.1s;
  transition-timing-function: ease-in-out;
}

.project-link:hover {
  color: #D56E7F;
  transition: 0.2s;
}

.wave-group {
  width: 100%;
  position: absolute;
  margin-top: 10vw;
  z-index: -1;
}

.wave-container {
  bottom: 0;
  position: absolute;
}

#next-link {
  align-self: flex-end;
}

#footer-wave-left {
  left: 0;
  width: 50vw;
}

#footer-wave-right {
  right: 0;
  width: 70vw;
}

@media only screen and (min-width: 1080px) {
  .subimage-left {
    padding-right: 2.5vw;
  }

  .subimage-right {
    padding-left: 2.5vw;
  }
}
@media only screen and (max-width: 1080px) {
  .work-subimage {
    flex-grow: 1;
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .group-home {
    display: flex;
    position: absolute;
    top: 23%;
  }

  .nav-icon-home {
    width: 15vw;
  }

  .nav-container-home {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .nav-home {
    position: initial;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .nav-home a {
    font-weight: 600;
    font-size: 24px;
    padding: 5vw 0 0 0;
  }

  .nav-home .nav-link-home {
    margin: 0;
  }
}
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Work Sans";
  margin: 0px;
  overscroll-behavior: none;
}

h1 {
  font-weight: 600;
  color: #e9dbc3;
  font-size: calc(48px + (60 - 48) * ((100vw - 300px) / (3840 - 300)));
  margin-bottom: 0;
}

h2 {
  font-weight: normal;
  color: #fff;
  font-size: calc(24px + (48 - 24) * ((100vw - 300px) / (3840 - 300)));
  margin-top: 0;
  margin-bottom: 0;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fill-image {
  width: 100%;
}

.header-text {
  position: absolute;
  left: 0%;
  bottom: 0%;
  margin-left: 7vh;
  margin-bottom: 7vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.landscape-container {
  height: 100%;
  width: 100%;
}

.splash-img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: absolute;
  bottom: 0;
}

.splash-img-right {
  right: 0;
}

.splash-img-left {
  left: 0;
}

.splash-img-top {
  top: 0;
}

#right-fog {
  max-width: 78vw;
}

#right-mountain {
  max-width: 56vw;
}

#left-mountain-fade {
  max-width: 40vw;
}

#left-mountain {
  max-width: 79vw;
}

#left-cloud-mountain {
  max-width: 74vw;
}

#right-bg-fog {
  max-width: 46vw;
}

#left-bg-fog {
  max-width: 60vw;
}

@keyframes wave {
  0% {
    width: 60vw;
  }
  25% {
    width: 55vw;
  }
  50% {
    width: 50vw;
  }
  75% {
    width: 55vw;
  }
  100% {
    width: 60vw;
  }
}
.background-gradient {
  background: -moz-radial-gradient(44.63% -1.19%, ellipse farthest-corner, #efb982 0%, #d56e7f 30%);
  background: -webkit-radial-gradient(44.63% -1.19%, ellipse farthest-corner, #efb982 0%, #d56e7f 30%);
  background: -webkit-gradient(radial, 44.63% -1.19%, 0, 44.63% -1.19%, 3378.31, color-stop(0, #efb982), color-stop(0.3, #d56e7f));
  background: -o-radial-gradient(44.63% -1.19%, ellipse farthest-corner, #efb982 0%, #d56e7f 30%);
  background: -ms-radial-gradient(44.63% -1.19%, ellipse farthest-corner, #efb982 0%, #d56e7f 30%);
  background: radial-gradient(44.63% -1.19%, ellipse farthest-corner, #efb982 0%, #d56e7f 30%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
}

.main-content-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: stretch;
  width: 100%;
  background-color: #000033;
}

@media only screen and (max-width: 800px) {
  .header-text {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .splash-img-top {
    top: 15%;
    left: 25%;
  }
}
@media only screen and (max-height: 800px) and (min-width: 800px) {
  .splash-img {
    bottom: -20%;
  }

  .container {
    overflow: hidden;
  }

  .foreground-img {
    bottom: 0;
  }
}
@media only screen and (max-width: 1919px) {
  #right-fog {
    max-width: 1496px;
  }

  #right-mountain {
    max-width: 1082px;
  }

  #left-mountain-fade {
    max-width: 764px;
  }

  #left-mountain {
    max-width: 1524px;
  }

  #left-cloud-mountain {
    max-width: 1414px;
  }

  #right-bg-fog {
    max-width: 856px;
  }

  #left-bg-fog {
    max-width: 1162px;
  }
}

/*# sourceMappingURL=styles.css.map */
