#bg-sun {
  width: 50vw;
  transition: ease all 2s;
}

.sun-ring {
  width: 50vw;
  transition: ease all 2s;
  top: 0;
}

.sun-piece {
  position: absolute;
  right: 10vw;
}

#sun-ring-one {
  animation: spin_one 60s linear infinite;
}

#sun-ring-two {
  animation: spin_two 45s linear infinite;
}

#sun-ring-three {
  animation: spin_three 30s linear infinite;
}

@keyframes spin_one {
  from {
    transform: rotate(0deg) translate(-5%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-5%) rotate(-360deg);
  }
}
@keyframes spin_two {
  from {
    transform: rotate(0deg) translate(5%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(5%) rotate(-360deg);
  }
}
@keyframes spin_three {
  from {
    transform: rotate(0deg) translate(-7%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-7%) rotate(-360deg);
  }
}
@media only screen and (max-width: 800px) {
  .sun-piece {
    position: absolute;
    right: 25vw;
  }
}
.nav-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.nav-flex {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.nav-bar {
  position: sticky;
  top: 7vh;
  font-size: 22px;
}

.nav-icon {
  width: 2vw;
  margin-bottom: 1vw;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
}

.nav-icon:hover {
  transform: scale(1.1);
}

.nav-link {
  margin-right: 7vh;
  font-family: "Work Sans";
  font-weight: normal;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  user-select: none;
}

.nav-link:hover {
  font-weight: bold;
  color: #D56E7F;
  transition: 0.2s;
}

.nav-group {
  position: sticky;
  margin-left: 7vh;
  top: 7vh;
}

.nav-link {
  position: sticky;
  top: 7vh;
  align-self: center;
  margin-right: 7vh;
  font-family: "Work Sans";
  font-weight: normal;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  user-select: none;
}

.fog-container {
  filter: brightness(100%) contrast(1500%);
}

.fog-piece {
  position: absolute;
  filter: blur(20px);
}

.ball {
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  background: black;
}

#fog-piece-two {
  left: 15vw;
}

#fog-piece-three {
  left: 30vw;
}

#fog-piece-four {
  left: 45vw;
}

.work-container {
  display: inline-block;
  width: 100%;
  background-color: #000033;
  overflow: scroll;
}

#work-nav {
  font-weight: bold;
  color: #D56E7F;
}

.work-links {
  max-width: 100%;
  padding-left: 11vw;
  padding-top: 10vh;
  overflow-y: scroll;
  overscroll-behavior: none;
}

.work-link {
  font-family: "Work Sans";
  width: 22vw;
  font-weight: bolder;
  color: #e9dbc3;
  font-size: 200px;
  user-select: none;
}

.work-link:hover {
  color: #D56E7F;
  transition: 0.2s;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Work Sans";
  margin: 0px;
  overscroll-behavior: none;
}

h1 {
  font-weight: 600;
  color: #e9dbc3;
  font-size: 48px;
  margin-bottom: 0;
}

h2 {
  font-weight: normal;
  color: #fff;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.header-text {
  position: absolute;
  left: 0%;
  bottom: 0%;
  margin-left: 7vh;
  margin-bottom: 7vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.landscape-container {
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.splash-img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: absolute;
  bottom: 0;
}

.splash-img-right {
  right: 0;
}

.splash-img-left {
  left: 0;
}

.splash-img-top {
  top: 0;
}

#right-fog {
  max-width: 78vw;
}

#right-mountain {
  max-width: 56vw;
}

#left-mountain-fade {
  max-width: 40vw;
}

#left-mountain {
  max-width: 79vw;
}

#left-cloud-mountain {
  max-width: 74vw;
}

#right-bg-fog {
  max-width: 46vw;
}

#left-bg-fog {
  max-width: 60vw;
}

@keyframes wave {
  0% {
    width: 60vw;
  }
  25% {
    width: 55vw;
  }
  50% {
    width: 50vw;
  }
  75% {
    width: 55vw;
  }
  100% {
    width: 60vw;
  }
}
.background-gradient {
  background: -moz-radial-gradient(44.63% -1.19%, ellipse farthest-corner, #efb982 0%, #d56e7f 60.68%);
  background: -webkit-radial-gradient(44.63% -1.19%, ellipse farthest-corner, #efb982 0%, #d56e7f 60.68%);
  background: -webkit-gradient(radial, 44.63% -1.19%, 0, 44.63% -1.19%, 3378.31, color-stop(0, #efb982), color-stop(0.6068, #d56e7f));
  background: -o-radial-gradient(44.63% -1.19%, ellipse farthest-corner, #efb982 0%, #d56e7f 60.68%);
  background: -ms-radial-gradient(44.63% -1.19%, ellipse farthest-corner, #efb982 0%, #d56e7f 60.68%);
  background: radial-gradient(44.63% -1.19%, ellipse farthest-corner, #efb982 0%, #d56e7f 60.68%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
}

@media only screen and (max-width: 800px) {
  .splash-img-top {
    top: 15%;
    left: 25%;
  }
}
@media only screen and (max-height: 800px) and (min-width: 800px) {
  .splash-img {
    bottom: -20%;
  }

  .container {
    overflow: hidden;
  }

  .foreground-img {
    bottom: 0;
  }
}
@media only screen and (max-width: 1919px) {
  #right-fog {
    max-width: 1496px;
  }

  #right-mountain {
    max-width: 1082px;
  }

  #left-mountain-fade {
    max-width: 764px;
  }

  #left-mountain {
    max-width: 1524px;
  }

  #left-cloud-mountain {
    max-width: 1414px;
  }

  #right-bg-fog {
    max-width: 856px;
  }

  #left-bg-fog {
    max-width: 1162px;
  }
}

/*# sourceMappingURL=styles.css.map */
