// Styles
$text_accent: #e9dbc3;
$text_main: #fff;
$body_background: #000033;

// Sizes
$right_fog_width: 78vw;
$right_mountain_width: 56vw;
$left_mountain_fade_width: 40vw;
$left_mountain_width: 79vw;
$left_cloud_mountain_width: 74vw;
$right_background_fog_width: 46vw;
$left_background_fog_width: 60vw;

$static_right_fog_width: 1496px;
$static_right_mountain_width: 1082px;
$static_left_mountain_fade_width: 764px;
$static_left_mountain_width: 1524px;
$static_left_cloud_mountain_width: 1414px;
$static_right_background_fog_width: 856px;
$static_left_background_fog_width: 1162px;

// Animations