// Styles // 
$text_accent: #e9dbc3;
$text_main: #fff;
$text_selected: #D56E7F;
$body_background: #000033;
$body_light: #151E7A;

$nav_text_size: 22px;

// Typography


// Sizes // 
// Landscape
$right_fog_width: 78vw;
$right_mountain_width: 56vw;
$left_mountain_fade_width: 40vw;
$left_mountain_width: 79vw;
$left_cloud_mountain_width: 74vw;
$right_background_fog_width: 46vw;
$left_background_fog_width: 60vw;

$static_right_fog_width: 1496px;
$static_right_mountain_width: 1082px;
$static_left_mountain_fade_width: 764px;
$static_left_mountain_width: 1524px;
$static_left_cloud_mountain_width: 1414px;
$static_right_background_fog_width: 856px;
$static_left_background_fog_width: 1162px;

// Nav Icons
$nav_icon_size: 2vw;
$nav_icon_expanded: 2.5vw;
$nav_icon_margin: 1vw;

// Margins
$border_margin: 7vh;

// Animations //
// Sun
$ring_one_rotation_duration: 60s;
$ring_two_rotation_duration: 45s;
$ring_three_rotation_duration: 30s;
$sun_piece_ease_duration: 2s;

// Text selection
$text_selection_duration: .2s;

// Nav
$nav_expansion_duration: .1s;

// Breakpoints
$mobile_screen_size: 800px;