@import "./variables.scss";


.work-container {
    display: inline-block;
    width: 100%;
    background-color: $body_background;
}

.work-links {
    max-width: 100%;
    padding-left: 11vw;
    overflow-y: scroll;
    overscroll-behavior: none;
}

.work-link {
    font-family: 'Work Sans';
    width: 22vw;
    font-weight: bolder;
    color: $text_accent;
    font-size: 13vw;
    user-select: none;
    text-decoration: none;
}

.work-link:hover {
    color: $text_selected;
    transition: $text_selection_duration;
}

#archive {
    color: $body_background;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $text_accent;
}

#archive:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $text_selected;
    transition: $text_selection_duration;
}